
<main class="box-container">
    <h2 class="title">{{livros.titulo}}</h2>
<p class="desc">{{livros.descricao}}</p>
<div class="box-detelis">
<p class="categ">{{livros.categoria}}<p/>
<p class="valores" > Preço: R${{livros.valor}}</p>
<p class="valores">Quantidade de estoque: {{livros.quantidade}}</p>
</div>
<a class="voltar-link" href="/">Voltar</a>

</main>